
  <div class="row">
    <h1>Grocery List</h1>
    <div class="col-md-4">
      <div class="card border-0 shadow p-3">
        <div class="form-floating mb-3 text-center">
            <h5 class="text-center">Add Item</h5>
        </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="itemName" name="itemname" [(ngModel)]="itemName">
        <label for="itemname">Item Name</label>
      </div>
      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="itemNumber" name="itemNumber" [(ngModel)]="itemNumber">
        <label for="itemNumber">Amount</label>
      </div>
      <button class="btn btn-primary" type="button" (click)="addItem()">Add Student</button>
    </div>
  </div>
    <div class="col-md-8">
      <h5>Grocery List</h5>
      <div class="card p-3">
        <div class="card-body">
          <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Item Name</th>
              <th scope="col">Item Number</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of shoppingList">
              <td>{{item.itemName}}</td>
              <td>{{item.itemNumber}}</td>
              <td><button class="btn btn-primary" type="button" (click)="deleteItem(item)">Delete Item</button></td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>