
  <div class="row">
    <h1>Manage Student Directory</h1>
    <div class="col-md-4">
      <div class="card border-0 shadow p-3">
        <div class="form-floating mb-3 text-center">
            <h5 class="text-center">Add Student</h5>
        </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="firstName" name="firstname" [(ngModel)]="first_name">
        <label for="firstname">First name</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="lastName" name="lastname" [(ngModel)]="last_name">
        <label for="lastname">Last name</label>
      </div>
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email">
        <label for="email">Email</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="mobile" name="mobile" [(ngModel)]="mobile">
        <label for="mobile">Mobile phone</label>
      </div>
      <button class="btn btn-primary" type="button" (click)="addStudent()">Add Student</button>
    </div>
  </div>
    <div class="col-md-8">
      <h5>Student List</h5>
      <div class="card p-3">
        <div class="card-body">
          <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Email</th>
              <th scope="col">Mobile</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of studentList ">
              <td>{{student.firstName}}</td>
              <td>{{student.lastName}}</td>
              <td>{{student.email}}</td>
              <td>{{student.mobile}}</td>
              <td><button class="btn btn-primary" type="button" (click)="deleteStudent(student)">Delete Student</button></td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>